*.gem
*.rbc
*.lock
.bundle
.config
.directory
.rvmrc
.DS_Store
.rbx
_yardoc/
.yardoc/
coverage/
doc/
lib/theme-juice/man/
pkg
pkg/*
spec/reports/
spec/sandbox/
test/tmp/
test/version_tmp/
tmp/
tj.*
.tj.*
Juicefile*
juicefile*
wp-cli.*
.env.*
vvv-hosts
vvv-nginx.conf
!.gitignore
!*.ronn
