*.gem
*.rbc
*.lock
*.log
.bundle
.config
.directory
.rvmrc
.DS_Store
.rbx
_yardoc/
.yardoc/
coverage/
doc/
lib/theme-juice/man/
docs/.sass-cache/
docs/node_modules/
docs/build/
docs/templates/*.html
docs/templates/*.css
pkg
pkg/*
spec/reports/
spec/sandbox/
test/tmp/
test/version_tmp/
tmp/
.tj
.tj.yaml
.tj.yml
tj.yaml
tj.yml
Juicefile*
juicefile*
wp-cli.*
.env.*
vvv-hosts
vvv-nginx.conf
!.gitignore
!*.ronn
