!!! 5
%html
  %head
    %meta(http-equiv="content-type" value="text/html;charset=utf8")
    %meta(name="generator" value="{{ generator }}")
    %title
      {{ title }}
    {{{ stylesheet_tags }}}
  %body