!!!
%html
  %head
    %meta(http-equiv="content-type" value="text/html;charset=utf8")
    %meta(name="generator" value="{{generator}}")
    %title {{title}}
    {{{stylesheet_tags}}}
  %body

    %header.header__wrapper
      .header
        %aside.logo
          %img.logo__image(src="" alt="Theme Juice")
        %nav.navigation
          %a.navigation__item(href="#PRIMARY-COMMANDS" alt="Command to create a new project")
            Create
          %a.navigation__item(href="#PRIMARY-COMMANDS" alt="Command to setup an existing project")
            Setup
          %a.navigation__item(href="#PRIMARY-COMMANDS" alt="Command to delete a project")
            Delete
          %a.navigation__item(href="#PRIMARY-COMMANDS" alt="Deploy a project")
            Deploy

    %main.main__wrapper
      .main

        %aside.sidebar
          %nav.sidebar__navigation
            {{#section_heads}}
            %a.sidebar__navigation__item(href="\#{{id}}" alt="{{text}}")
              {{text}}
            {{/section_heads}}

        %ol.main__head
          %li.main__head__item
            {{page_name}}
          %li.main__head__item
            {{manual}}
          %li.main__head__item
            {{page_name}}

        %article.main__content
          {{{html}}}

        %ol.main__foot
          %li.main__foot__item
            {{page_name}}
          %li.main__foot__item
            {{date}}
          %li.main__foot__item
            {{page_name}}
