!!!
%html
  %head
    %meta(http-equiv="content-type" value="text/html;charset=utf8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="generator" value="{{generator}}")
    %title Theme Juice CLI - WordPress development made easy
    {{{stylesheet_tags}}}
    %link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  %body

    %header.header__wrapper
      .header
        %aside.logo
          %a(href="tj.html" title="Theme Juice Command Line Interface")
            %h1.logo__type
              Theme Juice
              %span CLI
        %nav.navigation
          %a.navigation__item(href="create.html" title="Create a new project")
            Create
          %a.navigation__item(href="setup.html" title="Setup an existing project")
            Setup
          %a.navigation__item(href="delete.html" title="Delete a project")
            Delete
          %a.navigation__item(href="deploy.html" title="Deploy a project")
            Deploy
          %a.navigation__item(href="https://github.com/ezekg/theme-juice-cli" target="_blank" title="View project on GitHub")
            %i.fa.fa-github

    %main.main__wrapper
      .main

        %aside.sidebar
          %nav.sidebar__navigation
            {{#section_heads}}
            %a.sidebar__navigation__item(href="\#{{id}}" alt="{{text}}")
              {{text}}
            {{/section_heads}}

        %article.main__content
          {{{html}}}

    %footer.footer__wrapper
      .footer
        .footer__humans
          <i class='fa fa-code'></i> with <i class='fa fa-heart'></i> by <a href="http://produceresults.com" target="_blank">Produce Results</a>
        .footer__date
          Documentation was last generated on {{date}} using <a href="https://github.com/rtomayko/ronn" target="_blank">Ronn</a>
