!!!
%html
  %head
    %meta(http-equiv="content-type" value="text/html;charset=utf8")
    %meta(name="generator" value="{{generator}}")
    %title {{title}}
    {{{stylesheet_tags}}}
  %body

    %header.header__wrapper
      .header
        %aside.logo
          %h1.logo__type
            Theme Juice
        %nav.navigation
          %a.navigation__item(href="tj.html" alt="Command to create a new project")
            Home
          %a.navigation__item(href="create.html" alt="Command to create a new project")
            Create
          %a.navigation__item(href="setup.html" alt="Command to setup an existing project")
            Setup
          %a.navigation__item(href="delete.html" alt="Command to delete a project")
            Delete
          %a.navigation__item(href="deploy.html" alt="Deploy a project")
            Deploy

    %main.main__wrapper
      .main

        %aside.sidebar
          %nav.sidebar__navigation
            {{#section_heads}}
            %a.sidebar__navigation__item(href="\#{{id}}" alt="{{text}}")
              {{text}}
            {{/section_heads}}

        %article.main__content
          {{{html}}}

    %footer.footer__wrapper
      .footer
        .footer__date {{date}}
