@import "compass"

/**
 * Header
 */
.header
  max-width: 40rem
  margin: 0 auto

  &__wrapper
    width: 100%

/**
 * Logo
 */
.logo
  float: left

  &__image
    max-width: 100%
    width: 100%
    height: auto

/**
 * Navigation
 */
.navigation
  display: block
  list-style: none
  text-align: justify
  width: 100%
  margin: 0 auto
  padding: 0

  // Micro clearfix
  &:after
    +inline-block
    content: " "
    width: 100%

  &__item
    +inline-block
    position: relative

/**
 * Main content area
 */
.main
  @extend .header

  &__wrapper
    @extend .header__wrapper

  &__head

    li:nth-child(1)
      float: left

    li:nth-child(2)
      margin: 0 auto

    li:nth-child(3)
      float: right
      text-align: right

  &__content

  &__foot
    @extend .main__head
