$flint: ("breakpoints": ("large": ("columns": 8, "breakpoint": 40em), "small": ("columns": 4, "breakpoint": 20em)), "settings": ("default": "small", "grid": "fluid", "gutter": 1em, "float-direction": "left", "max-width": true, "center-container": true, "border-box-sizing": true, "instance-maps": true, "support-syntax": "BEM", "debug-mode": false))

@import "flint"
@import "normalize"
@import "compass"

@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700")

/**
 * Override compass' clearfix mixin
 */
@mixin clearfix
  zoom: 1

  &:before,
  &:after
    content: "\0020"
    display: block
    height: 0
    overflow: hidden

  &:after
    clear: both

/**
 * Base
 */
body
  background:
    color: #fff

/**
 * Typography
 */
body
  color: #333
  font: 16px/1.875 "Inconsolata", monospace

h1,
h2,
h3,
h4,
h5,
h6
  margin:
    top: 1.5rem
    bottom: 0.5rem

p
  text:
    align: justify
  margin:
    top: 0.5rem
    bottom: 1rem

a
  color: #333

  &:hover,
  &:active
    color: #999

dt
  padding: 0 1rem
  background:
    color: #f3f3f3

// code
//   padding: 0 0.5rem

/**
 * Header
 */
.header
  +_(container, clear)
  position: relative

  &__wrapper
    width: 100%

/**
 * Logo
 */
.logo
  +_(2, $gutter: normal center)

  &__image
    max-width: 100%
    width: 100%
    height: auto

/**
 * Navigation
 */
.navigation
  +_(6 4)
  list-style: none
  text:
    align: justify
    transform: uppercase
  padding: 0

  // Micro clearfix for justified nav
  &:after
    +inline-block
    content: " "
    width: 100%

  &__item
    +inline-block
    position: relative

/**
 * Sidebar
 */
.sidebar
  +_(8 4)

  +_(30em greater than large)
    position: absolute
    left: 100%
    top: 0
    height: 100%
    height: 100vh

  &__navigation
    list-style: none
    margin: 0 auto
    padding: 0

    &__item
      display: block

/**
 * Main content area
 */
.main
  +_(container, clear)
  position: relative

  &__wrapper
    width: 100%

  &__head
    +_(8 4)
    list-style: none
    margin: 0 auto
    padding: 0

    &__item
      +_(8/3 4/3, auto, $gutter: row)

      &:nth-child(2)
        text:
          align: center

      &:nth-child(3)
        text:
          align: right

  &__content
    +_(8 4)

  &__foot
    @extend .main__head

    &__item
      @extend .main__head__item
