!!!
%html
  %head
    %meta(http-equiv="content-type" value="text/html;charset=utf8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="generator" value="{{generator}}")
    %meta(rel="icon" type="image/x-icon" href="favicon.ico")
    %title Theme Juice CLI - WordPress development made easy
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53644528-2', 'auto');
      ga('send', 'pageview');
    {{{stylesheet_tags}}}
    %link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  %body#top(class="{{{name}}}")

    %header.header__wrapper
      .header

        %aside.logo
          %a(href="/" title="Theme Juice Command Line Interface")
            %h1.logo__type
              Theme Juice
              %span CLI

        %nav.navigation
          %a.navigation__item(href="/create" title="Create a new project")
            Create
          %a.navigation__item(href="/setup" title="Setup an existing project")
            Setup
          %a.navigation__item(href="/delete" title="Delete a project")
            Delete
          %a.navigation__item(href="/deploy" title="Deploy a project")
            Deploy
          %a.navigation__item(href="https://github.com/ezekg/theme-juice-cli" target="_blank" title="View project on GitHub")
            %i.fa.fa-github

    %main.main__wrapper
      .main

        %aside.sidebar
          %nav.sidebar__navigation

            .index-only
              %a.sidebar__navigation__item(href="#REQUIREMENTS" title="Requirements")
                REQUIREMENTS

              %a.sidebar__navigation__item(href="#INSTALLATION" title="Installation")
                INSTALLATION

            {{#section_heads}}
            %a.sidebar__navigation__item(href="\#{{id}}" title="{{text}}")
              {{text}}
            {{/section_heads}}

        %article.main__content

          .index-only
            %h2#REQUIREMENTS
              REQUIREMENTS
            %p
              %strong
                %code tj(1)
                requires <a href="http://vagrantup.com/">Vagrant</a> and <a href="https://www.virtualbox.org/">VirtualBox</a> to be able to create virtual machines for local development. Please download and install both of these before getting started.
            %p
              I recommend one of the latest versions of Ruby MRI (2.2, 2.1, 2.0). <code>tj</code> requires at least MRI 1.9.3. For the full report, check out the <a href="https://travis-ci.org/ezekg/theme-juice-cli">Travis CI build status</a>, where I test against an array of Ruby interpreters.
            %p
              I also recommend you set up <a href="https://help.github.com/articles/generating-ssh-keys/">SSH-keys for GitHub</a>. Internally, <code>tj</code> uses <code>git clone</code> with SSH URLs, so things might break if you don't have your keys set up properly.

            %h2#INSTALLATION
              INSTALLATION
            %p
              %code gem install theme-juice

          {{{html}}}

    %footer.footer__wrapper
      .footer
        .footer__humans
          <i class='fa fa-code'></i> with <i class='fa fa-heart'></i> by <a href="http://produceresults.com" target="_blank">Produce Results</a>
        .footer__date
          Documentation was last generated on {{date}} using <a href="https://github.com/rtomayko/ronn" target="_blank">Ronn</a>
        .footer__source
          %a(href="https://github.com/ezekg/theme-juice-cli/tree/master/docs" target="_blank" title="View website source code")
            View Source

    %a.scroll-to-top(href="#top" title="Scroll to top")
      %i.fa.fa-hand-o-up

    :coffee
      links = document.getElementsByTagName "a"

      for link in links
        link.onclick = (e) ->
          if e.currentTarget?.hash
            e.preventDefault()

            hash = this.getAttribute "href"
            node = document.getElementById hash[1...]

            scrollTo document.body, node.offsetTop, 500
            removeClasses links, "active"

            unless node is document.body
              addClass node, "active"

        scrollTo = (node, target, vel) ->
          y = node.scrollTop
          vy = target - (y - 75)
          dt = 0
          i = 20

          animateScroll = () ->
            dt += i

            easeInOutQuad = (dt, y, vy, vel) ->
              dt /= vel / 2
              return vy / 2 * (dt * dt) + y if dt < 1
              dt--
              return -vy / 2 * (dt * (dt - 2) - 1) + y

            node.scrollTop = easeInOutQuad dt, y, vy, vel

            if dt < vel
              setTimeout animateScroll, i
              return

          do animateScroll
          return

        addClass = (node, klass) ->
          return if klass in node.className.split " "
          node.className = [node.className, klass].filter((s) -> s isnt "").join " "

        removeClasses = (links, klass) ->
          for link in links
            hash = link.getAttribute "href"
            node = document.getElementById hash[1...]

            if node?.className? and klass in node.className.split " "
              node.className = node.className.replace klass, ""
